# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# env
.env
.env.local
.env*.local

# drizzle
db/migrations/meta/

# build
dist/

# playwright
test-results/
playwright-report/

# misc
.DS_Store
*.pem
*.log
